/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://use.typekit.net/dtx5eaq.css");

body {
  background: #f8dfdb;
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f8dfdb;
  background: #fc221c;
}

::selection {
  color: #f8dfdb;
  background: #fc221c;
}

.title {
  font-family: "brim-narrow-combined-2", sans-serif;
  font-weight: 400;
  margin-left: 0.9em;
  margin-top: 0.5em;
  font-style: normal;
  /* text-align: center; */
  font-size: 7.5vw;
  color: #fc221c;
}
.suvtext {
  width: 30em;
  font-family: "garamond-premier-pro", serif;
  font-weight: 400;
  margin-left: 3em;
  margin-top: -2em;
  font-style: normal;
  font-size: 2.25vw;
  /* text-align: center; */
  color: #fc221c;
}

.suvtext2 {
  width: 30em;
  font-family: "garamond-premier-pro", serif;
  font-weight: 400;
  margin-left: 3em;
  margin-top: 0em;
  font-style: normal;
  font-size: 2.25vw;
  /* text-align: center; */
  color: #fc221c;
  opacity: 1;
  animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  /* flame pulses */
  0% {
    color: #fc221c;
  }
  50% {
    color: #000;
  }
  100% {
    color: #fc221c;
  }
}
.gap {
  margin-top: 16em;
}

.enqtext {
  width: 35em;
  font-family: "garamond-premier-pro", serif;
  font-weight: 400;
  margin-left: 3em;
  font-size: 2.25vw;
  font-style: normal;

  margin-left: 3em;
}

.enqtex {
  color: #fc221c;
}

.subscribe {
  font-family: "garamond-premier-pro", serif;
  font-style: normal;
  font-weight: 400;
  color: #fc221c;
  margin-left: 2.2em;
  font-size: 3vw;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Footer */

.footerline {
  background: #fc221c;
  height: 2px;
  width: 100%;
  margin-bottom: 4.5em;
}

.copyright {
  font-family: "garamond-premier-pro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1696px) {
  .title {
    font-family: "brim-narrow-combined-2", sans-serif;
    font-weight: 400;
    margin-left: 0.3em;
    margin-top: 0.5em;
    font-style: normal;
    /* text-align: center; */
    font-size: 9em;
    color: #fc221c;
  }
  .suvtext {
    width: 30em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.2em;
    margin-top: -2em;
    font-style: normal;
    font-size: 2.8em;
    /* text-align: center; */
    color: #fc221c;
  }

  .suvtext2 {
    width: 30em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.2em;
    margin-top: 0em;
    font-style: normal;
    font-size: 2.8em;
    /* text-align: center; */
    color: #fc221c;
    opacity: 1;
    animation: flickerAnimation 2s infinite;
  }

  .subscribe {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    color: #fc221c;
    margin-left: 0.9em;
    font-size: 4em;
  }

  @keyframes flickerAnimation {
    /* flame pulses */
    0% {
      color: #fc221c;
    }
    50% {
      color: #000;
    }
    100% {
      color: #fc221c;
    }
  }
  .gap {
    margin-top: 16em;
  }

  .enqtext {
    width: 32em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 3em;
    font-size: 2.8em;
    font-style: normal;
    margin-left: 1.2em;
  }

  .enqtex {
    color: #fc221c;
  }

  .scroll {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: #fc221c;
    margin-top: 0em;
    margin-right: 2em;
    font-size: 2em;
  }
}

@media only screen and (max-width: 1510px) {
  .title {
    font-family: "brim-narrow-combined-2", sans-serif;
    font-weight: 400;
    margin-left: 0.3em;
    margin-top: 0.5em;
    font-style: normal;
    /* text-align: center; */
    font-size: 7em;
    color: #fc221c;
  }
  .suvtext {
    width: 30em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.1em;
    margin-top: -1.5em;
    font-style: normal;
    font-size: 2.5em;
    /* text-align: center; */
    color: #fc221c;
  }

  .suvtext2 {
    width: 30em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.1em;
    margin-top: 0em;
    font-style: normal;
    font-size: 2.5em;
    /* text-align: center; */
    color: #fc221c;
    opacity: 1;
    animation: flickerAnimation 2s infinite;
  }

  .subscribe {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    color: #fc221c;
    margin-left: 0.8em;
    font-size: 3.5em;
  }

  @keyframes flickerAnimation {
    /* flame pulses */
    0% {
      color: #fc221c;
    }
    50% {
      color: #000;
    }
    100% {
      color: #fc221c;
    }
  }
  .gap {
    margin-top: 16em;
  }

  .enqtext {
    width: 32em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 3em;
    font-size: 2.5em;
    font-style: normal;
    margin-left: 1.1em;
  }

  .enqtex {
    color: #fc221c;
  }

  .scroll {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: #fc221c;
    margin-top: 0em;
    margin-right: 2em;
    font-size: 2em;
  }
}

@media only screen and (max-width: 1346px) {
  .title {
    font-family: "brim-narrow-combined-2", sans-serif;
    font-weight: 400;
    margin-left: 0.35em;
    margin-top: 0.8em;
    font-style: normal;
    /* text-align: center; */
    font-size: 6.5em;
    color: #fc221c;
  }
  .suvtext {
    width: 29em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.1em;
    margin-top: -1.5em;
    font-style: normal;
    font-size: 2.1em;
    /* text-align: center; */
    color: #fc221c;
  }

  .suvtext2 {
    width: 29em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.1em;
    margin-top: 0em;
    font-style: normal;
    font-size: 2.1em;
    /* text-align: center; */
    color: #fc221c;
    opacity: 1;
    animation: flickerAnimation 2s infinite;
  }

  .subscribe {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    color: #fc221c;
    margin-left: 0.8em;
    font-size: 2.7em;
  }

  @keyframes flickerAnimation {
    /* flame pulses */
    0% {
      color: #fc221c;
    }
    50% {
      color: #000;
    }
    100% {
      color: #fc221c;
    }
  }
  .gap {
    margin-top: 16em;
  }

  /* .enqtext {
    width: 32em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 3em;
    font-size: 2.3em;
    font-style: normal;
    margin-left: 1.1em;
  }

  .enqtex {
    color: #fc221c;
  }

  .scroll {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: #fc221c;
    margin-top: 0em;
    margin-right: 2em;
    font-size: 2em;
  } */
}

@media only screen and (max-width: 1078px) {
  .title {
    font-family: "brim-narrow-combined-2", sans-serif;
    font-weight: 400;
    margin-left: 0.35em;
    margin-top: 0.8em;
    font-style: normal;
    /* text-align: center; */
    font-size: 5.9em;
    color: #fc221c;
  }
  .suvtext {
    width: 85%;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.1em;
    margin-top: -1.5em;
    font-style: normal;
    font-size: 2.1em;
    /* text-align: center; */
    color: #fc221c;
  }

  .suvtext2 {
    width: 90%;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 1.1em;
    margin-top: 0em;
    font-style: normal;
    font-size: 2.1em;
    /* text-align: center; */
    color: #fc221c;
    opacity: 1;
    animation: flickerAnimation 2s infinite;
  }

  .subscribe {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    color: #fc221c;
    margin-left: 0.8em;
    font-size: 2.7em;
  }

  @keyframes flickerAnimation {
    /* flame pulses */
    0% {
      color: #fc221c;
    }
    50% {
      color: #000;
    }
    100% {
      color: #fc221c;
    }
  }
  .gap {
    margin-top: 16em;
  }

  /* .enqtext {
    width: 32em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 3em;
    font-size: 2.3em;
    font-style: normal;
    margin-left: 1.1em;
  }

  .enqtex {
    color: #fc221c;
  }

  .scroll {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: #fc221c;
    margin-top: 0em;
    margin-right: 2em;
    font-size: 2em;
  } */
}

@media only screen and (max-width: 842px) {
  .title {
    font-family: "brim-narrow-combined-2", sans-serif;
    font-weight: 400;
    margin-left: 0.35em;
    margin-top: 0.8em;
    font-style: normal;
    /* text-align: center; */
    font-size: 4.5em;
    color: #fc221c;
  }
  .suvtext {
    width: 85%;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 0.9em;
    margin-top: -1em;
    font-style: normal;
    font-size: 2.1em;
    /* text-align: center; */
    color: #fc221c;
  }

  .suvtext2 {
    width: 90%;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 0.9em;
    margin-top: 0em;
    font-style: normal;
    font-size: 2.1em;
    /* text-align: center; */
    color: #fc221c;
    opacity: 1;
    animation: flickerAnimation 2s infinite;
  }

  .subscribe {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    color: #fc221c;
    margin-left: 0.7em;
    font-size: 2.7em;
  }

  @keyframes flickerAnimation {
    /* flame pulses */
    0% {
      color: #fc221c;
    }
    50% {
      color: #000;
    }
    100% {
      color: #fc221c;
    }
  }
  .gap {
    margin-top: 16em;
  }

  /* .enqtext {
    width: 32em;
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    margin-left: 3em;
    font-size: 2.3em;
    font-style: normal;
    margin-left: 1.1em;
  }

  .enqtex {
    color: #fc221c;
  }

  .scroll {
    font-family: "garamond-premier-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: #fc221c;
    margin-top: 0em;
    margin-right: 2em;
    font-size: 2em;
  } */
}
